<div class="panel panel-default">
	<div class="panel-body">

        
		{{#lastKnownLightState}}
			{{#reachable}}
                <div style="float:left">
				<div id="{{identifier}}" class="circleBaseMain"><span class="glyphicon glyphicon-record" aria-hidden="true"></span></div> 
                </div><h1>&nbsp;&nbsp;{{name}}</h1>
			{{/reachable}}
			{{^reachable}}
            <div style="float:left">
				<div id="{{identifier}}" class="circleBaseMain"><span class="glyphicon glyphicon-refresh gly-spin" aria-hidden="true"></span></div>
            </div><h1>&nbsp;&nbsp;{{name}}</h1>
			{{/reachable}}

            <div data-target="{{identifier}}" class="checkbox-div" style="float:right; height:30px;">
                {{#on}}
    		    <input type="checkbox" name="my-checkbox" checked>
                {{/on}}
                {{^on}}
                <input type="checkbox" name="my-checkbox" unchecked>
                {{/on}}
            </div>
        {{/lastKnownLightState}}
        
	</div>
	<div class="panel-footer">
	<div id="color-picker-{{identifier}}" class="well" data-target="{{identifier}}" data-visible="{{#lastKnownLightState}}{{reachable}}{{/lastKnownLightState}}">
    <div class="circleBase" style="background-color:rgba(255, 0, 12, 1);"></div>
    <div class="circleBase" style="background-color:rgba(255, 0, 27, 1);"></div>
    <div class="circleBase" style="background-color:rgba(255, 0, 47, 1);"></div>
    <div class="circleBase" style="background-color:rgba(255, 0, 73, 1);"></div>
    <div class="circleBase" style="background-color:rgba(255, 0, 98, 1);"></div>
    <div class="circleBase" style="background-color:rgba(255, 0, 129, 1);"></div>
    <div class="circleBase" style="background-color:rgba(255, 0, 157, 1);"></div>
    <div class="circleBase" style="background-color:rgba(255, 0, 190, 1);"></div>
    <div class="circleBase" style="background-color:rgba(255, 0, 222, 1);"></div>

    <div class="circleBase" style="background-color:rgba(248, 0, 255, 1);"></div>
    <div class="circleBase" style="background-color:rgba(208, 0, 255, 1);"></div>
    <div class="circleBase" style="background-color:rgba(172, 0, 255, 1);"></div>
    <div class="circleBase" style="background-color:rgba(134, 0, 255, 1);"></div>
    <div class="circleBase" style="background-color:rgba(104, 0, 255, 1);"></div>
    <div class="circleBase" style="background-color:rgba(70, 0, 255, 1);"></div>
    <div class="circleBase" style="background-color:rgba(44, 0, 255, 1);"></div>
    <div class="circleBase" style="background-color:rgba(18, 0, 255, 1);"></div>
    <div class="circleBase" style="background-color:rgba(3, 0, 255, 1);"></div>

    <div class="circleBase" style="background-color:rgba(27, 49, 255, 1);"></div>
    <div class="circleBase" style="background-color:rgba(55, 115, 255, 1);"></div>
    <div class="circleBase" style="background-color:rgba(88, 172, 255, 1);"></div>
    <div class="circleBase" style="background-color:rgba(122, 216, 255, 1);"></div>
    <div class="circleBase" style="background-color:rgba(158, 248, 255, 1);"></div>

    <div class="circleBase" style="background-color:rgba(178, 255, 243, 1);"></div>
    <div class="circleBase" style="background-color:rgba(178, 255, 222, 1);"></div>
    <div class="circleBase" style="background-color:rgba(178, 255, 194, 1);"></div>
    <div class="circleBase" style="background-color:rgba(178, 255, 171, 1);"></div>
    <div class="circleBase" style="background-color:rgba(156, 255, 106, 1);"></div>
    <div class="circleBase" style="background-color:rgba(172, 255, 58, 1);"></div>
    <div class="circleBase" style="background-color:rgba(229, 255, 18, 1);"></div>

    <div class="circleBase" style="background-color:rgba(255, 241, 10, 1);"></div>
    <div class="circleBase" style="background-color:rgba(255, 212, 10, 1);"></div>
    <div class="circleBase" style="background-color:rgba(255, 183, 10, 1);"></div>
    <div class="circleBase" style="background-color:rgba(255, 159, 10, 1);"></div>
    <div class="circleBase" style="background-color:rgba(255, 130, 10, 1);"></div>
    <div class="circleBase" style="background-color:rgba(255, 108, 10, 1);"></div>
    <div class="circleBase" style="background-color:rgba(255, 82, 10, 1);"></div>
    <div class="circleBase" style="background-color:rgba(255, 59, 10, 1);"></div>
    <div class="circleBase" style="background-color:rgba(255, 35, 10, 1);"></div>
    <div class="circleBase" style="background-color:rgba(255, 4, 10, 1);"></div>
    <div class="circleBase" style="background-color:rgba(255, 0, 10, 1);"></div>

    <br />
  </div>
	</div>
</div>
